[submodule "hugo-theme-zzo"]
	path = hugo-theme-zzo
	url = https://github.com/zzossig/hugo-theme-zzo
[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo
[submodule "public"]
	path = public
	url = git@github.com:Hashiyaa/hashiyaa.github.io.git
	branch = master
